fastapi
uvicorn

# for template
jinja2

# for static files
# aiofiles

# for database
sqlalchemy
sqlalchemy-utils
# sqlalchemy-dlock

# psycopg2
psycopg2-binary

# for loading environment variables  #new
python-dotenv

pydantic[email]

#for jwt tokens
python-jose

# hashing
passlib[bcrypt]

#for accessing form data
python-multipart

# for testing
pytest
requests
httpx